eAd.Website/Service References/eAdDataService/Service34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.acme.it/2009/04" elementFormDefault="qualified" targetNamespace="http://schemas.acme.it/2009/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DataAccess/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/eAd.DataAccess" />
  <xs:complexType name="FileMetaData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eAd.DataAccess" name="FileType" type="q1:FileTypeEnum" />
      <xs:element minOccurs="0" name="localFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remoteFilename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMetaData" nillable="true" type="tns:FileMetaData" />
</xs:schema>