eAd.DesktopClient/Service References/eAdDataAccess/Service56.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd2" namespace="http://schemas.acme.it/2009/04" />
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" />
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eAd.DataAccess" />
  <xs:element name="GetHi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.acme.it/2009/04" minOccurs="0" name="MetaData" nillable="true" type="q1:FileMetaData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="stream" nillable="true" type="q2:FileStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDownloadMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.acme.it/2009/04" name="MetaData" nillable="true" type="q3:FileMetaData" />
  <xs:element name="FileDownloadReturnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="FileByteStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q5="http://schemas.acme.it/2009/04" name="DownloadedFileMetadata" nillable="true" type="q5:FileMetaData" />
  <xs:element name="SayHi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetMyMediaResult" nillable="true" type="q6:ArrayOfMediaListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaDuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaDurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetMediaDurationResult" type="q7:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoIHaveUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoIHaveUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoIHaveUpdatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMosaicForStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMosaicForStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eAd.DataAccess" minOccurs="0" name="GetMosaicForStationResult" nillable="true" type="q8:Mosaic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeStationUnAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="rfidCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeStationUnAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeStationUnAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMediaLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMosaicIDForStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMosaicIDForStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMosaicIDForStationResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsForMosaic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mosaicID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsForMosaicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetPositionsForMosaicResult" nillable="true" type="q9:ArrayOfPositionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeStationAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeStationAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeStationAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageReadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureScreenShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureScreenShotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaptureScreenShotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByRFID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByRFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetCustomerByRFIDResult" nillable="true" type="q10:CustomerViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="message" nillable="true" type="q11:MessageViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageToStationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:long" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="message" nillable="true" type="q12:MessageViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageToGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMyMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMyMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetAllMyMessagesResult" nillable="true" type="q13:ArrayOfMessageViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q14:ArrayOfCustomerViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetAllStationsResult" nillable="true" type="q15:ArrayOfStationViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/eAd.DataViewModels" minOccurs="0" name="GetOnlineStationsResult" nillable="true" type="q16:ArrayOfStationViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>