Client/Service References/Service/Service111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/eAd.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eAd.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://1.9.13.61/DataAccess/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FileTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Generic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileTypeEnum" nillable="true" type="tns:FileTypeEnum" />
  <xs:complexType name="Mosaic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Background" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BackgroundColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExtraData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Groupings" nillable="true" type="tns:ArrayOfGrouping" />
          <xs:element minOccurs="0" name="Groupings_1" nillable="true" type="tns:ArrayOfGrouping" />
          <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Height" type="xs:int" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="MosaicID" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfPosition" />
          <xs:element minOccurs="0" name="Resolution" nillable="true" type="tns:Resolution" />
          <xs:element minOccurs="0" name="ResolutionID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ResolutionReference" nillable="true" type="q1:EntityReferenceOfResolution0cHE_SurI" />
          <xs:element minOccurs="0" name="Size" type="xs:long" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Width" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mosaic" nillable="true" type="tns:Mosaic" />
  <xs:complexType name="ArrayOfGrouping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grouping" nillable="true" type="tns:Grouping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrouping" nillable="true" type="tns:ArrayOfGrouping" />
  <xs:complexType name="Grouping">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GroupingID" type="xs:long" />
          <xs:element minOccurs="0" name="Mosaic" nillable="true" type="tns:Mosaic" />
          <xs:element minOccurs="0" name="MosaicID" type="xs:long" />
          <xs:element minOccurs="0" name="MosaicReference" nillable="true" type="q2:EntityReferenceOfMosaic0cHE_SurI" />
          <xs:element minOccurs="0" name="Mosaic_1" nillable="true" type="tns:Mosaic" />
          <xs:element minOccurs="0" name="Mosaic_1Reference" nillable="true" type="q2:EntityReferenceOfMosaic0cHE_SurI" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfileMosaicID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Stations" nillable="true" type="tns:ArrayOfStation" />
          <xs:element minOccurs="0" name="Themes" nillable="true" type="tns:ArrayOfTheme" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Grouping" nillable="true" type="tns:Grouping" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Approved" type="xs:boolean" />
          <xs:element minOccurs="0" name="Available" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfClient" />
          <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Groupings" nillable="true" type="tns:ArrayOfGrouping" />
          <xs:element minOccurs="0" name="HardwareKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastCheckIn" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="StationID" type="xs:long" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UniqueID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivatedOn" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Approved" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ClientID" type="xs:long" />
          <xs:element minOccurs="0" name="HardwareKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Station" />
          <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="StationReference" nillable="true" type="q4:EntityReferenceOfStation0cHE_SurI" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateReceived" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MessageID" type="xs:long" />
          <xs:element minOccurs="0" name="Sent" type="xs:boolean" />
          <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Station" />
          <xs:element minOccurs="0" name="StationID" type="xs:long" />
          <xs:element minOccurs="0" name="StationReference" nillable="true" type="q5:EntityReferenceOfStation0cHE_SurI" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfTheme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Theme" nillable="true" type="tns:Theme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTheme" nillable="true" type="tns:ArrayOfTheme" />
  <xs:complexType name="Theme">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Groupings" nillable="true" type="tns:ArrayOfGrouping" />
          <xs:element minOccurs="0" name="Media" nillable="true" type="tns:ArrayOfMedium" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ThemeID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Theme" nillable="true" type="tns:Theme" />
  <xs:complexType name="ArrayOfMedium">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medium" nillable="true" type="tns:Medium" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedium" nillable="true" type="tns:ArrayOfMedium" />
  <xs:complexType name="Medium">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Duration" nillable="true" type="ser:duration" />
          <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MediaID" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfPosition" />
          <xs:element minOccurs="0" name="Size" type="xs:long" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Themes" nillable="true" type="tns:ArrayOfTheme" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Updated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Medium" nillable="true" type="tns:Medium" />
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosition" nillable="true" type="tns:ArrayOfPosition" />
  <xs:complexType name="Position">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Height" type="xs:double" />
          <xs:element minOccurs="0" name="Media" nillable="true" type="tns:ArrayOfMedium" />
          <xs:element minOccurs="0" name="Mosaic" nillable="true" type="tns:Mosaic" />
          <xs:element minOccurs="0" name="MosaicID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="MosaicReference" nillable="true" type="q8:EntityReferenceOfMosaic0cHE_SurI" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PositionID" type="xs:long" />
          <xs:element minOccurs="0" name="UserID" type="xs:long" />
          <xs:element minOccurs="0" name="Width" type="xs:double" />
          <xs:element minOccurs="0" name="X" type="xs:double" />
          <xs:element minOccurs="0" name="Y" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Resolution">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Mosaics" nillable="true" type="tns:ArrayOfMosaic" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResolutionID" type="xs:long" />
          <xs:element minOccurs="0" name="Width" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Resolution" nillable="true" type="tns:Resolution" />
  <xs:complexType name="ArrayOfMosaic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mosaic" nillable="true" type="tns:Mosaic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMosaic" nillable="true" type="tns:ArrayOfMosaic" />
</xs:schema>