eAd.Website/Service References/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://1.9.13.61/DataAccess/DataAccessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://1.9.13.61/DataAccess/DataAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://1.9.13.61/DataAccess/DataAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetHi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHi" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetHi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHiResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SayHi_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHi" />
  </wsdl:message>
  <wsdl:message name="IDataService_SayHi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHiResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_DoIHaveUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:DoIHaveUpdates" />
  </wsdl:message>
  <wsdl:message name="IDataService_DoIHaveUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoIHaveUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_MakeStationUnAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeStationUnAvailable" />
  </wsdl:message>
  <wsdl:message name="IDataService_MakeStationUnAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeStationUnAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_MakeStationAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeStationAvailable" />
  </wsdl:message>
  <wsdl:message name="IDataService_MakeStationAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeStationAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_MessageRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageRead" />
  </wsdl:message>
  <wsdl:message name="IDataService_MessageRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageReadResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerByRFID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByRFID" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerByRFID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByRFIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllMyMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMyMessages" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllMyMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMyMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStations" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetOnlineStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineStations" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetOnlineStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetHi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetHi" message="tns:IDataService_GetHi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetHiResponse" message="tns:IDataService_GetHi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SayHi" message="tns:IDataService_SayHi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SayHiResponse" message="tns:IDataService_SayHi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoIHaveUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/DoIHaveUpdates" message="tns:IDataService_DoIHaveUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DoIHaveUpdatesResponse" message="tns:IDataService_DoIHaveUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeStationUnAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/MakeStationUnAvailable" message="tns:IDataService_MakeStationUnAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/MakeStationUnAvailableResponse" message="tns:IDataService_MakeStationUnAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeStationAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/MakeStationAvailable" message="tns:IDataService_MakeStationAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/MakeStationAvailableResponse" message="tns:IDataService_MakeStationAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/MessageRead" message="tns:IDataService_MessageRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/MessageReadResponse" message="tns:IDataService_MessageRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByRFID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCustomerByRFID" message="tns:IDataService_GetCustomerByRFID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCustomerByRFIDResponse" message="tns:IDataService_GetCustomerByRFID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetAllMyMessages" message="tns:IDataService_GetAllMyMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetAllMyMessagesResponse" message="tns:IDataService_GetAllMyMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetAllCustomers" message="tns:IDataService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetAllCustomersResponse" message="tns:IDataService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetAllStations" message="tns:IDataService_GetAllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetAllStationsResponse" message="tns:IDataService_GetAllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetOnlineStations" message="tns:IDataService_GetOnlineStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetOnlineStationsResponse" message="tns:IDataService_GetOnlineStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataAccess" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHi">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetHi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <soap:operation soapAction="http://tempuri.org/IDataService/SayHi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoIHaveUpdates">
      <soap:operation soapAction="http://tempuri.org/IDataService/DoIHaveUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeStationUnAvailable">
      <soap:operation soapAction="http://tempuri.org/IDataService/MakeStationUnAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeStationAvailable">
      <soap:operation soapAction="http://tempuri.org/IDataService/MakeStationAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageRead">
      <soap:operation soapAction="http://tempuri.org/IDataService/MessageRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByRFID">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCustomerByRFID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyMessages">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetAllMyMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStations">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetAllStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStations">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetOnlineStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataAccess" binding="tns:DataAccess">
      <soap:address location="http://1.9.13.61/DataAccess/DataAccessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>