eAd.Website/Service References/DataService/DataAccessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarLicense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChargeRemaining" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastBillAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastRechargeDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerViewModel" nillable="true" type="tns:CustomerViewModel" />
  <xs:complexType name="ArrayOfMessageViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageViewModel" nillable="true" type="tns:MessageViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageViewModel" nillable="true" type="tns:ArrayOfMessageViewModel" />
  <xs:complexType name="MessageViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Sent" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationID" type="xs:long" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageViewModel" nillable="true" type="tns:MessageViewModel" />
  <xs:complexType name="ArrayOfCustomerViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerViewModel" nillable="true" type="tns:CustomerViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerViewModel" nillable="true" type="tns:ArrayOfCustomerViewModel" />
  <xs:complexType name="ArrayOfStationViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationViewModel" nillable="true" type="tns:StationViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationViewModel" nillable="true" type="tns:ArrayOfStationViewModel" />
  <xs:complexType name="StationViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastCheckIn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationViewModel" nillable="true" type="tns:StationViewModel" />
</xs:schema>